@import '../../variables';

.main {
  display: flex;
  flex: 1;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.layout {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.heading {
  text-align: center;
  margin: 30px;
  width: 100%;
}
